<?xml version="1.0"?>
<config>
  <modules>
    <Si_Listroom>
      <version>0.1.1</version>
    </Si_Listroom>
  </modules>
  <frontend>
    <routers>
      <listroom>
        <use>standard</use>
          <args>
            <module>Si_Listroom</module>
            <frontName>listroom</frontName>
          </args>
      </listroom>
    </routers>
		<layout>
		  <updates>
			<listroom>
			  <file>listroom.xml</file>
			</listroom>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <listroom>
        <class>Si_Listroom_Helper</class>
      </listroom>
    </helpers>
	<blocks>
	  <listroom>
		<class>Si_Listroom_Block</class>
	  </listroom>
	</blocks>
	<models>
	  <listroom>
		<class>Si_Listroom_Model</class>
		<resourceModel>listroom_mysql4</resourceModel>
	  </listroom>
	  <listroom_mysql4>
		<class>Si_Listroom_Model_Mysql4</class>
		<entities>		  
			  <listroom>
				<table>listroom</table>
			  </listroom>
        </entities>
	  </listroom_mysql4>
	</models>
	<resources>
	  <listroom_setup>
		<setup>
		  <module>Si_Listroom</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </listroom_setup>
	  <listroom_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </listroom_write>
	  <listroom_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </listroom_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <listroom>
	    <use>admin</use>
		<args>
		  <module>Si_Listroom</module>
		  <frontName>listroom</frontName>
		</args>
	  </listroom>
	</routers>
  </admin>
  <adminhtml>
	<!--<menu>
	  <listroom module="listroom">
		<title>Listroom</title>
		<sort_order>100</sort_order>
		<children>
		  <listroom module="listroom">
		    <title>Manage Listroom</title>
			<sort_order>0</sort_order>
			<action>listroom/adminhtml_listroom</action>
		  </listroom>
		</children>
	  </listroom>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<listroom translate="title" module="listroom">
			  <title>Listroom</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <listroom translate="title">
			<title>Manage Listroom</title>
			<sort_order>0</sort_order>
		  </listroom>
			  </children>
			</listroom>
		  </children>
		</admin>
	  </resources>
	</acl>-->
	<layout>
	  <updates>
		<listroom>
		  <file>listroom.xml</file>
		</listroom>
	  </updates>
	</layout>
  </adminhtml>
</config> 