<?xml version="1.0"?>
<config>
  <modules>
    <Si_Addevents>
      <version>0.1.0</version>
    </Si_Addevents>
  </modules>
  <frontend>
    <routers>
      <addevents>
        <use>standard</use>
          <args>
            <module>Si_Addevents</module>
            <frontName>addevents</frontName>
          </args>
      </addevents>
    </routers>
		<layout>
		  <updates>
			<addevents>
			  <file>addevents.xml</file>
			</addevents>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <addevents>
        <class>Si_Addevents_Helper</class>
      </addevents>
    </helpers>
	<blocks>
	  <addevents>
		<class>Si_Addevents_Block</class>
	  </addevents>
	</blocks>
	<resources>
	  <addevents_setup>
		<setup>
		  <module>Si_Addevents</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </addevents_setup>
	  <addevents_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </addevents_write>
	  <addevents_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </addevents_read>
	</resources>
  </global>
  <default>
  	 <ipin>
         <ipin_settings>
             <ipin_api></ipin_api>
         </ipin_settings>
     </ipin>
     <eventbrite>
         <eventbrite_settings>
         	 <enable>1</enable>
         	 <!--<display_home>1</display_home>
         	 <display_property>1</display_property>-->
             <api_key></api_key>
             <user_key></user_key>
         </eventbrite_settings>
     </eventbrite>
     <yelp>
         <yelp_settings>
             <consumer_key></consumer_key>
             <consumer_secret></consumer_secret>
             <token></token>
             <token_secret></token_secret>
         </yelp_settings>
         <yelp_restaurant_settings>
         	 <enable>1</enable>
         	 <!--<display_home>1</display_home>
         	 <display_property>1</display_property>-->
         </yelp_restaurant_settings>
         <yelp_discover_settings>
         	 <enable>1</enable>
         	 <!--<display_home>1</display_home>
         	 <display_property>1</display_property>-->
         </yelp_discover_settings>
     </yelp>
     <!--<foursquare>
         <foursquare_settings>
         	 <enable>1</enable>
         	 <display_home>1</display_home>
         	 <display_property>1</display_property>
         	 <client_id></client_id>
             <client_secret></client_secret>
         </foursquare_settings>
     </foursquare>-->
  </default>
</config> 