<?xml version="1.0"?>
<config>
  <modules>
    <Si_Booking>
      <version>0.1.2</version>
    </Si_Booking>
  </modules>
  <frontend>
    <routers>
      <booking>
        <use>standard</use>
          <args>
            <module>Si_Booking</module>
            <frontName>booking</frontName>
          </args>
      </booking>
    </routers>
		<layout>
		  <updates>
			<booking>
			  <file>booking.xml</file>
			</booking>
		  </updates>
		</layout>
  </frontend>
  <global>
	<sales>
		<order>
		  <statuses>
			<refunded translate="label"><label>Refunded</label></refunded>
		  </statuses>
		  <states>
			<complete>
			  <statuses>
				<refunded />
			  </statuses>
			  <visible_on_front>1</visible_on_front>
			</complete>
		  </states>
		</order>
	 </sales>
    <helpers>
      <booking>
        <class>Si_Booking_Helper</class>
      </booking>
    </helpers>
	<blocks>
	  <booking>
		<class>Si_Booking_Block</class>
	  </booking>
	</blocks>
	<models>
	  <booking>
		<class>Si_Booking_Model</class>
		<resourceModel>booking_mysql4</resourceModel>
	  </booking>
	  <booking_mysql4>
		<class>Si_Booking_Model_Mysql4</class>
		<entities>		  
			  <booking>
				<table>property_booking</table>
			  </booking>
        </entities>
	  </booking_mysql4>
	</models>
	<resources>
	  <booking_setup>
		<setup>
		  <module>Si_Booking</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </booking_setup>
	  <booking_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </booking_write>
	  <booking_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </booking_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <booking>
	    <use>admin</use>
		<args>
		  <module>Si_Booking</module>
		  <frontName>booking</frontName>
		</args>
	  </booking>
	</routers>
  </admin>
  <adminhtml>
	<!--<menu>
	  <booking module="booking">
		<title>Booking</title>
		<sort_order>100</sort_order>
		<children>
		  <booking module="booking">
		    <title>Manage Booking</title>
			<sort_order>0</sort_order>
			<action>booking/adminhtml_booking</action>
		  </booking>
		</children>
	  </booking>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<booking translate="title" module="booking">
			  <title>Booking</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <booking translate="title">
			<title>Manage Booking</title>
			<sort_order>0</sort_order>
		  </booking>
			  </children>
			</booking>
		  </children>
		</admin>
	  </resources>
	</acl>-->
	<layout>
	  <updates>
		<booking>
		  <file>booking.xml</file>
		</booking>
	  </updates>
	</layout>
  </adminhtml>
</config> 